server {
    listen $PORT default_server;
    location / {
        proxy_pass https://valtteril-portfolio-frontend.herokuapp.com/;
    }
    location /api/ {
        proxy_pass https://valtteril-portfolio-backend.herokuapp.com/;
    }
}